.app_buy_layout {
  //   display: flex;
  //   text-align: center;
  //   justify-content: flex-start;
  //   align-items: center;

  &__qtyForm {
    margin-right: 0px;
    width: 80px;
  }
}

.app_buy_footer {
  display: flex;
  justify-content: space-between;
}
