<!-- The AG Grid component -->
<div class="container mt-5 app_layout">
  <h2>Portfolio Manager</h2>
  <div class="portfolio_layout">
    <app-dropdown
      [items]="dropdownItems"
      (itemSelected)="onSelectedPortfolio($event)"
    ></app-dropdown>
    <div class="portfolio_PnL m-0">
      <p>Total Realized PnL : {{ realizedPnL }}</p>
      <p>
        Total Unrealized PnL :
        <span [ngClass]="unrealizedPnL < 0 ? 'text-danger' : 'text-success'">{{
          unrealizedPnL
        }}</span>
      </p>
    </div>
    <app-modal
      [parentGridApi]="parentGrid"
      [isBuyValid]="userCanBuy"
    ></app-modal>
  </div>
  <div class="mt-2">
    <app-datagrid
      [currentPortfolio]="currentPortfolio"
      [rowData]="rowData"
      (parentGrid)="getParentGridApi($event)"
    ></app-datagrid>
  </div>
  <footer>
    <div class="d-flex">
      <p>Login as {{ currentUser }}</p>
      <p class="ms-2">Balance : {{ currentUserFunds }}</p>
    </div>
    <app-date-and-time></app-date-and-time>
  </footer>
</div>
