<!-- The AG Grid component -->
<div class="container mt-5">
  <h2>Portfolio Manager</h2>
  <div class="portfolio_layout">
    <app-dropdown
      [items]="dropdownItems"
      (itemSelected)="onSelectedPortfolio($event)"
    ></app-dropdown>
    <app-modal [isBuyValid]="true"></app-modal>
  </div>
  <div class="mt-3">
    <app-datagrid
      [currentPortfolio]="currentPortfolio"
      [rowData]="rowData"
    ></app-datagrid>
  </div>
  <footer>
    <div class="d-flex">
      <p>Login as {{ currentUser }}</p>
      <p class="ms-2">Balance : {{ currentUserFunds }}</p>
    </div>
    <app-date-and-time></app-date-and-time>
  </footer>
</div>
